.nv {
	text-align: center;
}

a {
	display: block;
	padding: 10px;
	border-radius: 10px;
}
a:hover {
	background: #fff9;
}

.Top {

}

.Bottom {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
}

.FD {

}
.F1 {

}
.F2 {

}
.F3 {

}

.FPicture {
	width: 25px;
	height: 25px;
}
p {
	font-size: 14px;
}