body {
  margin: 0;
  background: #040216;
  color: white;
}
.Wrapper {
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
  'h h'
  'n c';
  grid-gap: 10px;
  grid-template-columns: 2fr 10fr;
}
.Wrapper>div {
  background: rgb(70,79,121);
  border-radius: 10px;
}

.hd {
  grid-area: h;
}
.nv {
  grid-area: n;
}
.ct {
  grid-area: c;
}